<div class="margins">
  <div class="grid_4">
    <%= form_tag(controller: 'product_rental', action: 'view' ) do %>
        <%= label_tag(:search, 'Search for a Product rental') %>
        <%= text_field_tag :search, params[:search] %>
    <% end %>
  </div>
</div>
<div class="clear"></div>
<div class="grid_12 margins">
  <table class="items">
    <thead>
    <tr>
      <td>ID</td>
      <td>Owner</td>
      <td>Start Date</td>
      <td>Due Date</td>
      <td>Returned</td>
      <td>Total Price</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <% if @product_rentals %>
        <tbody>
        <% @product_rentals.each do |sys|%>
            <tr>
              <td><%= sys.id %></td>
              <td><%= sys.member.first_name + ' ' + sys.member.surname %></td>
              <td><%= sys.start_date %></td>
              <td><%= sys.due_date %></td>
              <% if sys.returned %>
                  <td>&#10004;</td>
              <% else %>
                  <td>&#10006;</td>
              <% end %>
              <td><%= sys.total_price %></td>
              <td><%= link_to 'Receipt', {:action => 'view_receipt', :id => sys.id}, :target => '_blank' %></td>
              <td><%= link_to 'Return', :action => 'return', :id => sys.id %></td>
              <td><%= link_to 'Delete', {:action => 'delete', :id => sys.id }, data:{confirm:'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
    <% end %>
  </table>
</div>
<div class="grid_1 prefix_10">
  <a href="new">
    <%= button_tag 'New', :class => 'button-blue medium-button' %>
  </a>
</div>