<div class='grid_2 prefix_4'>
  <a href="/member/view">
    <%= button_tag 'View Members', {:class => 'large-button button-blue'} %>
  </a>
</div>
<div class='grid_2 suffix_2'>
  <a href="/member_type/view">
    <%= button_tag 'View Member Types', {:class => 'large-button button-blue smaller-text'}%>
  </a>
</div>
<div class='clear'></div>
<div class='grid_2 prefix_4'>
  <a href="/product/view">
  <%= button_tag 'View Products', {:class => 'large-button button-blue'} %>
  </a>
</div>
<div class='grid_2 suffix_2'>
  <a href="system/view">
  <%= button_tag 'View Systems', {:class => 'large-button button-blue'}%>
  </a>
</div>
<div class='clear'></div>
<div class='grid_2 prefix_4'>
  <a href="product_rental/view">
  <%= button_tag 'View Rentals', {:class => 'large-button button-blue'} %>
  </a>
</div>
<div class='grid_2 suffix_2'>
  <a href="system_booking/view">
  <%= button_tag 'View Bookings', {:class => 'large-button button-blue'}%>
  </a>
</div>
<div class='clear'></div>
<div class='grid_2 prefix_4'>
  <a href="/product_type/view">
  <%= button_tag 'View Product Types', {:class => 'large-button button-blue smaller-text'} %>
  </a>
</div>
<div class='grid_2 suffix_2'>
  <a href="product_rental/overdue">
  <%= button_tag 'View Overdue', {:class => 'large-button button-blue'}%>
  </a>
</div>
